= simple_form_for [@topic, comment], :remote => true, :html => { :class => "form-inline" } do |f|
  = f.input :content, :label => false, :input_html => { :rows => 5, :class => :span10, :placeholder => "输入评论内容" }

  .form-actions
    = f.submit :class => "btn"
