/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

body {
  background: #0D2345 url("bodybg.gif") repeat-x 0 90px;
}

[class^="icon-"], [class*=" icon-"] {
  background-image: url("glyphicons-halflings.png");
}

.header {
  background: #00A2D2 url("header.gif") repeat-x 0 100%;
  border-bottom: 1px solid #00B2E8;
}
.header a {
  color: #97F2FF;
}
.header ul {
  margin: 0;
}
.header .nav-tabs {
  border-bottom: none;
}
.header .nav-tabs > li > a {
  color: #000;
  border: 1px solid #B0E4EF;
  background: #FFF;
  line-height: 25px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-border-radius: 0;
}
.header .nav-tabs > .active > a, .header .nav-tabs > .active > a:hover {
  padding-bottom: 1px;
  border-width: 1px 1px 0;
  border-color: #00B2E8;
  background-color: #1E4B7E;
  color: #C3D3E4;
}

.breadcrumb {
  background-color: transparent;
  margin: 0;
}
.breadcrumb li {
  text-shadow: none;
}
.breadcrumb li a {
  color: #C3D3E4;
}

.content {
  background: #FFF;
}
.content .nav-tabs {
  padding-left: 10px;
}
.content .table {
  margin: 20px 0;
}
.content .table th, .content .table td {
  border-top: none;
  border-bottom: 1px solid #dddddd;
}
.footer, .footer a {
  color: #8691A2;
}

.widget {
  padding: 10px;
  .widget-header {
    padding: 0 10px 10px;
    margin: 0 -10px 10px;
    border-bottom: 1px solid #DDD;
    h1, h2, h3, h4, h5, h6 {
      margin: 0px;
    }
  }
  .widget-footer {
    padding: 10px;
    margin: 10px -10px -10px;
    border-top: 1px solid #EEE;
    background-color: #F5F5F5;
  }
}

.widget.page-header, .widget .page-header {
  margin: 0;
}

.widget-shadow {
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.widget-table {
  .widget-header {
    border-bottom: none;
  }
  .widget-content {
    padding: 0;
  }
}

.widget {
  .nav {
    margin-bottom: 0px;
  }
  .nav-pills > li > a {
    margin: 0px;
    padding: 3px 9px;
    line-height: 18px;
  }
}

.widget {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  table.table {
    margin: 0;
  }
  .well {
    margin: 0;
  }
}

.widget {
  form {
    margin-bottom: 0;
  }
  .control-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .form-actions {
    margin: 0;
    padding: 10px;
  }
  .form-horizontal .form-actions {
    padding-left: 170px;
  }
}

.widget {
  .progress {
    margin-bottom: 0px;
  }
}

.row {
  &.affix {
    top: 20px;
  }
}
